{% load static %}
<aside class="app-sidebar" id="sidebar">
  <div class="main-sidebar-header">
    <a href="{% url 'home' %}" class="header-logo">
      <img src="{% static 'assets/img/kwibobuzz.png' %}" alt="logo" style="margin-top:-12px; width:85px; height:auto;" class="main-logo desktop-logo">
      <img src="{% static 'assets/img/kwibobuzz.png' %}" alt="logo" style="width:50px; height:auto;" class="main-logo toggle-logo">
      <img src="{% static 'assets/img/kwibobuzz.png' %}" alt="logo" style="margin-top:-12px; width:85px; height:auto;" class="main-logo desktop-dark">
      <img src="{% static 'assets/img/kwibobuzz.png' %}" alt="logo" style="width:50px; height:auto;" class="main-logo toggle-dark">
    </a>
</div>

  <div class="main-sidebar " id="sidebar-scroll">

    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
          height="24" viewBox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg></div>
      <ul class="main-menu">
        <li class="slide__category"><span class="category-name">Main</span></li>


        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Dashboards</span>
          </a>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Tasks</span>
          </a>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Training</span>
          </a>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Calendar</span>
          </a>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Accounting</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Accounting</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Financial Year</a></li>
            <li class="slide"><a href="#" class="side-menu__item">End Financial Year</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Chart of Account</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Opening balance</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Debit Voucher</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Credit Voucher</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Contract Voucher</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Jounal Voucher</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Voucher Approval</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Account Report<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Cash book</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Bank book</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">General Ledger</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Trial Balance</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Profit Loss</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Coa Print</a>
                </li>
                <li class="slide"><a href="javascript:void(0);" class="side-menu__item">Balance Sheet</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Projects</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Projects</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Projects</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Category</a></li>
          </ul>
        </li>


        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-node-tree side-menu__icon"></i>
            <span class="side-menu__label">Users</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Users</a></li>
            <li class="slide"><a href="#" class="side-menu__item">User Groups</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Instructors<i
                  class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Instructor list</a>
                </li>
                <li class="slide"><a href="#" class="side-menu__item">Add Instructor</a>
                </li>
                <li class="slide"><a href="#" class="side-menu__item">Payout list</a>
                </li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Students<i
                  class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Student list</a>
                </li>
                <li class="slide"><a href="#" class="side-menu__item">Add Student</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Bootcamp</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Bootcamp</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Bootcamp list</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Add Bootcamp</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Category</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Payment</a></li>
          </ul>
        </li>


        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-node-tree side-menu__icon"></i>
            <span class="side-menu__label">Courses</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Courses</a></li>
            <li class="slide" ><a href="#" class="side-menu__item">Manage courses</a></li>
						<li class="slide" ><a href="#" class="side-menu__item">Add course</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Category<i
                  class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Course Categories</a></li>
								<li class="slide"><a href="#" class="side-menu__item">Sub categories</a></li>
              </ul>
            </li>
            <li class="slide"><a href="#"  class="side-menu__item">Course Level</a></li>
						<li class="slide"><a href="#"  class="side-menu__item">Course offer</a></li>
          </ul>
        </li>


        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Enrollments</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Enrollments</a></li>
            <li class="slide"><a href="#" class="side-menu__item">New Enrollment</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Enrolled list</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Refund and Cancelation</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Certificates</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Certificates</a></li>
            <li class="slide"><a href="accordion.html" class="side-menu__item">Certificate list</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Add Certificate</a></li>
            <li class="slide"><a href="avatars.html" class="side-menu__item">Certificate Template</a></li>
          </ul>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Virtual Class</span>
          </a>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Membership</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Membership</a></li>
            <li class="slide"><a href="accordion.html" class="side-menu__item">Pending Membership</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Membership Level</a></li>
            <li class="slide"><a href="avatars.html" class="side-menu__item">Membership plan</a></li>
            <li class="slide"><a href="avatars.html" class="side-menu__item">add Membership</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Payments</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Payments</a></li>
            <li class="slide"><a href="accordion.html" class="side-menu__item">Payments received online</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Offline payment</a></li>
            <li class="slide"><a href="avatars.html" class="side-menu__item">Bank payment</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Invoices</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Invoices</a></li>
            <li class="slide"><a href="accordion.html" class="side-menu__item">Pending Invoice</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Invoices</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Coupons</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Coupons</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Coupon list</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">add coupon</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Communications</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Communications</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Notice board</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Course Noticeboard</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Private message</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Notifications</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Newsletter</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Support Tickets</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Support Tickets</a></li>
            <li class="slide"><a href="accordion.html" class="side-menu__item">Ticket Category</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">Ticket Priority</a></li>
            <li class="slide"><a href="#" class="side-menu__item">New Ticket</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Tickets list</a></li>
            <li class="slide"><a href="alerts.html" class="side-menu__item">My Ticket</a></li>
          </ul>
        </li>

        
        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-node-tree side-menu__icon"></i>
            <span class="side-menu__label">Blog & Events</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Blog & Events</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Blogs<i
                  class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Category</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Blog Post</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Add Post</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Events<i
                  class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Category</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Events Post</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Add Event</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Sales</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Support Tickets</a></li>
            <li class="slide"><a href="#" class="side-menu__item">POS Sales</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Invoice</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Credit Note</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Recurring Invoice</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Payment Received</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Proposal</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Tax Rates</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Quotations</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Best Selling Items</a></li>
          </ul>
        </li>


        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-cpu-line side-menu__icon"></i>
            <span class="side-menu__label">Reports</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Reports</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Sales report</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Task report</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Tickets report</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Clients report</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Projects<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Project tasks</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Project report</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Transactions<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="#" class="side-menu__item">Account statement</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Expenses report</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Incomes report </a></li>
                <li class="slide"><a href="#" class="side-menu__item">Incomes vs Expenses</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Report by date</a></li>
                <li class="slide"><a href="#" class="side-menu__item">Report by month</a></li>
                <li class="slide"><a href="#" class="side-menu__item">All Incomes</a></li>
                <li class="slide"><a href="#" class="side-menu__item">All Expenses</a></li>
                <li class="slide"><a href="#" class="side-menu__item">All Transactions</a></li>
              </ul>
            </li>
            <li class="slide"><a href="#" class="side-menu__item">E-learning revenue</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Course statistics</a></li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-cpu-line side-menu__icon"></i>
            <span class="side-menu__label">Human resource HR</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Human resource HR</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Department</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Designation</a></li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Employees<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="user.html" class="side-menu__item">add employee</a></li>
								<li class="slide"><a href="add-user.html" class="side-menu__item">employee list</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Payroll<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="user.html" class="side-menu__item">Salary template</a></li>
                <li class="slide"><a href="add-user.html" class="side-menu__item">manage salary</a></li>
                <li class="slide"><a href="app-profile-1.html" class="side-menu__item">Employee salary list</a></li>
                <li class="slide"><a href="app-profile-2.html" class="side-menu__item">Make payment</a></li>
                <li class="slide"><a href="edit-profile.html" class="side-menu__item">Generate payslip</a></li>
                <li class="slide"><a href="post-details.html" class="side-menu__item">payroll summary</a></li>
                <li class="slide"><a href="post-details.html" class="side-menu__item">advance salary</a></li>
                <li class="slide"><a href="post-details.html" class="side-menu__item">overtime</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Performance<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="user.html" class="side-menu__item">Indicator</a></li>
                <li class="slide"><a href="add-user.html" class="side-menu__item">Give appraisal</a></li>
                <li class="slide"><a href="app-profile-1.html" class="side-menu__item">Performance report</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Leave Management<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="user.html" class="side-menu__item">leave category</a></li>
                <li class="slide"><a href="add-user.html" class="side-menu__item">pedding leave</a></li>
                <li class="slide"><a href="app-profile-1.html" class="side-menu__item">add leave</a></li>
                <li class="slide"><a href="app-profile-2.html" class="side-menu__item">all leave</a></li>
                <li class="slide"><a href="edit-profile.html" class="side-menu__item">leave report</a></li>
              </ul>
            </li>
            <li class="slide has-sub"><a href="javascript:void(0);" class="side-menu__item">Requitments<i
              class="ri ri-arrow-right-s-line side-menu__angle"></i></a>
              <ul class="slide-menu child2">
                <li class="slide"><a href="user.html" class="side-menu__item">Job posted</a></li>
                <li class="slide"><a href="add-user.html" class="side-menu__item">Job application </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="ri-inbox-line side-menu__icon"></i>
            <span class="side-menu__label">Front CMS</span>
            <i class="ri ri-arrow-right-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
            <li class="slide side-menu__label1"><a href="javascript:void(0)">Front CMS</a></li>
            <li class="slide"><a href="#" class="side-menu__item">slider</a></li>
            <li class="slide"><a href="#" class="side-menu__item">pages/content</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Testmonial</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Social setting</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Sponsor</a></li>
            <li class="slide"><a href="#" class="side-menu__item">footer setting</a></li>
            <li class="slide"><a href="#" class="side-menu__item">login and registration</a></li>
            <li class="slide"><a href="#" class="side-menu__item">Faq</a></li>
            <li class="slide"><a href="#" class="side-menu__item">custom css and js</a></li>
          </ul>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">System setting</span>
          </a>
        </li>

        <li class="slide">
          <a href="#" class="side-menu__item">
            <i class="ri-apps-2-line side-menu__icon"></i>
            <span class="side-menu__label">Backup</span>
          </a>
        </li>

      </ul>
      <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
          height="24" viewBox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg></div>
    </nav>

  </div>
  <!-- End::main-sidebar -->

</aside>