{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tehamaspace</title>
    <meta name="description" content="Tehamaspace">
    <meta name="keywords" content="Tehamaspace">
    <link rel="shortcut icon" href="{% static 'assets/img/brand-logos/favicon.ico' %}">
    <script src="{% static 'assets/js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/simplebar/simplebar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/@simonwep/pickr/themes/nano.min.css' %}">
</head>
<body class="">
