<form method="POST">
    {% csrf_token %}
    <!-- Render individual form fields with custom HTML markup -->
    <!--begin::Input group-->
    <div class="row fv-row mb-7">
        <div class="col-xl-6">
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" class="form-control form-control-lg form-control-solid" placeholder="Enter your first name" autocomplete="off" value="{{ form.first_name.value }}">
            {% if form.first_name.errors %}
                <ul class="errorlist">
                    {% for error in form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-xl-6">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            <input class="form-control form-control-lg form-control-solid" type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" placeholder="Enter your last name" autocomplete="off" value="{{ form.last_name.value }}">
        </div>
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <input class="form-control form-control-solid" type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Email" autocomplete="off" value="{{ form.email.value }}" >
    </div>
    <!--end::Input group-->

    <div class="fv-row mb-10" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid" type="password" placeholder="Password" name="{{ form.password.html_name }}" autocomplete="off" value="{{ form.password.value }}"/>

                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="ki-duotone ki-eye-slash fs-2"></i>
                    <i class="ki-duotone ki-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->

            <!--begin::Meter-->
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <!--end::Meter-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Hint-->
        <div class="text-muted" data-kt-translate="sign-up-hint">
            Use 8 or more characters with a mix of letters, numbers & symbols.
        </div>
        <!--end::Hint-->
    </div>

    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="Confirm Password" name="{{ form.confirm_password.html_name }}" autocomplete="off" value="{{ form.confirm_password.value }}">
    </div>
    <!--end::Input group-->

    <!-- Render the rest of the form fields in a similar manner -->

    <!--begin::Actions-->
    <div class="d-flex flex-stack">
        <!--begin::Submit-->
        <button id="kt_sign_up_submit" class="btn btn-primary" data-kt-translate="sign-up-submit">
            <!--begin::Indicator label-->
            <span class="indicator-label">
                Submit
            </span>
            <!--end::Indicator label-->

            <!--begin::Indicator progress-->
            <span class="indicator-progress">
                Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
        </button>
        <!--end::Submit-->

        <!--begin::Social-->
        <div class="d-flex align-items-center">
            <div class="text-gray-400 fw-semibold fs-6 me-6">Or</div>

            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
                <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/google-icon.svg' %}" class="p-4"/>
            </a>
            <!--end::Symbol-->

            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
                <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/facebook-3.svg' %}" class="p-4"/>
            </a>
            <!--end::Symbol-->

            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light">
                <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/apple-black.svg' %}" class="theme-light-show p-4"/>
                <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/apple-black-dark.svg' %}" class="theme-dark-show p-4"/>
            </a>
            <!--end::Symbol-->
        </div>
        <!--end::Social-->
    </div>
    <!--end::Actions-->
</form>




  <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu link-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-element-11 fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                            </i>
                        </span>
                        <span class="menu-title">BackOffice</span>
                        <span class="menu-arrow"></span>
                    </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="{% url 'vendor:backoffice'%}">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Dashboard</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="{% url 'vendor:manage_sales'%}">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Oders</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->

                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="{% url 'vendor:products'%}">
                                <span class="menu-bullet"><span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">Products</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->

                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="{% url 'vendor:billing' %}">
                                <span class="menu-bullet"><span class="bullet bullet-dot"></span>
                                </span>
                                <span class="menu-title">billing</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->

                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="{% url 'vendor:statements'%}">
                                <span class="menu-bullet">
                                    <span class="bullet bullet-dot"></span></span>
                                <span class="menu-title">statements</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->

                        <div class="menu-inner flex-column collapse " id="kt_app_sidebar_menu_dashboards_collapse">

                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                <a class="menu-link" href="../../../dashboards/bidding.html">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">Bidding</span>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->


                        </div>

                        <div class="menu-item">
                            <div class="menu-content">
                                <a class="btn btn-flex btn-color-primary d-flex flex-stack fs-base p-0 ms-2 mb-2 toggle collapsible collapsed"
                                    data-bs-toggle="collapse" href="#kt_app_sidebar_menu_dashboards_collapse"
                                    data-kt-toggle-text="Show Less">
                                    <span data-kt-toggle-text-target="true">Show More</span> <i
                                        class="ki-duotone ki-minus-square toggle-on fs-2 me-0"><span
                                            class="path1"></span><span class="path2"></span></i><i
                                        class="ki-duotone ki-plus-square toggle-off fs-2 me-0"><span
                                            class="path1"></span><span class="path2"></span><span
                                            class="path3"></span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->

                <!--begin:Menu item-->





<form method="post" class="form w-100" action="{% url 'vendor:sign_in' %}">
    {% csrf_token %}
    <!-- Begin::Body -->
    <div class="card-body">
        <!-- Begin::Heading -->
        <div class="text-start mb-10">
            <!-- Begin::Title -->
            <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title">
                Sign In
            </h1>
            <!-- End::Title -->

            <!-- Begin::Text -->
            <div class="text-gray-400 fw-semibold fs-6" data-kt-translate="general-desc">
                Get unlimited access & earn Gains with Kijanicart
            </div>
            <!-- End::Text -->
        </div>
        <!-- End::Heading -->

        <!-- Begin::Input group -->
        <div class="fv-row mb-8">
            <!-- Begin::Email or Username -->
            <input type="text" placeholder="Username or Email" name="email_or_username" autocomplete="off" data-kt-translate="sign-in-input-email" class="form-control form-control-solid" required id="id_email_or_username" />
            <!-- End::Email or Username -->

        </div>

        <!-- End::Input group -->

        <!-- Begin::Password -->
        <div class="fv-row mb-7">
            <input type="password" placeholder="Password" name="password" autocomplete="off" data-kt-translate="sign-in-input-password" class="form-control form-control-solid" required id="id_password" />
        </div>
        <!-- End::Password -->
        {{ form.non_field_errors }}

        {% if form.captcha.errors %}
            <div class="alert alert-danger">
                {% for error in form.captcha.errors %}
                    <strong>{{ error }}</strong><br>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.captcha }}

        <!-- Begin::Wrapper -->
        <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-10">
            <div></div>

            <!-- Begin::Link -->
            <a href="{% url 'vendor:reset_password'%}" class="link-primary" data-kt-translate="sign-in-forgot-password">
                Forgot Password ?
            </a>
            <!-- End::Link -->
        </div>
        <!-- End::Wrapper -->

        <!-- Begin::Actions -->
        <div class="d-flex flex-stack">
            <!-- Begin::Submit -->
            <button id="kt_sign_in_submit" class="btn btn-primary me-2 flex-shrink-0">
                <!-- Begin::Indicator label -->
                <span class="indicator-label" data-kt-translate="sign-in-submit">
                    Sign In
                </span>
                <!-- End::Indicator label -->

                <!-- Begin::Indicator progress -->
                <span class="indicator-progress">
                    <span data-kt-translate="general-progress">Please wait...</span>
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
                <!-- End::Indicator progress -->
            </button>
            <!-- End::Submit -->

            <!-- Begin::Social -->
            <div class="d-flex align-items-center">
                <div class="text-gray-400 fw-semibold fs-6 me-3 me-md-6" data-kt-translate="general-or">Or</div>

                <!-- Begin::Symbol -->
                <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
                    <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/google-icon.svg' %}" class="p-4" />
                </a>
                <!-- End::Symbol -->

                <!-- Begin::Symbol -->
                <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
                    <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/facebook-3.svg' %}" class="p-4" />
                </a>
                <!-- End::Symbol -->

                <!-- Begin::Symbol -->
                <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light">
                    <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/apple-black.svg' %}" class="theme-light-show p-4" />
                    <img alt="Logo" src="{% static 'dashboard/media/svg/brand-logos/apple-black-dark.svg' %}" class="theme-dark-show p-4" />
                </a>
                <!-- End::Symbol -->
            </div>
            <!-- End::Social -->
        </div>
        <!-- End::Actions -->
    </div>
    <!-- End::Body -->
</form>

css



/* Style for the messages container */
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for the individual message items */
.messages li {
  padding: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #333; /* Default text color */
  margin-bottom: 10px;
}

/* Style for success messages */
.messages li.success {
  border-color: #3dbb69;
  background-color: #eaffeb;
  color: #3dbb69;
}

/* Style for error messages */
.messages li.error {
  border-color: #ff4d4f;
  background-color: #fff1f0;
  color: #ff4d4f;
}

/* Style for warning messages */
.messages li.warning {
  border-color: #ffa940;
  background-color: #fffbe6;
  color: #ffa940;
}

/* Style for info messages */
.messages li.info {
  border-color: #40a9ff;
  background-color: #e6f7ff;
  color: #40a9ff;
}