{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="grid grid-cols-12 gap-x-6">
    <div class="col-span-12 xl:col-span-12">
        <div class="box">
            <div class="box-header lg:flex lg:justify-between">
                <h5 class="box-title my-auto">Edit Training</h5>
            </div>
            <div class="box-body">
                <div class="flex justify-center w-full">
                    <div class="w-full max-w-4xl">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="bg-white p-6 rounded-lg shadow-none">
                                <div class="grid lg:grid-cols-2 gap-6 space-y-4 lg:space-y-0">
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Course / Training</label>
                                        <input type="text" id="input-label" name="training_name" class="ti-form-input"
                                            placeholder="Training name" value="{{ training.training_name }}">
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Employee</label>
                                        <select id="user" name="user"
                                            class="px-3 py-2 mt-3 ti-form-input border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-0">
                                            <option value="">select</option>
                                            {% if users %}
                                            {% for user in users %}
                                            <option {% if training.user.id == user.id %} selected {% else %} '' {% endif %} value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Assigned By</label>
                                        <select id="assigned_by" name="assigned_by"
                                            class="px-3 py-2 mt-3 ti-form-input border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-0">
                                            <option value="">select</option>
                                            {% if users %}
                                            {% for user in users %}
                                            <option {% if training.assigned_by.id == user.id %} selected {% else %} '' {% endif %} value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Vendor</label>
                                        <input type="text" id="input-label" name="vendor_name" class="ti-form-input"
                                            placeholder="Vendor" value="{{ training.vendor_name }}">
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Training Costs</label>
                                        <input type="text" id="input-label" name="training_cost" class="ti-form-input"
                                            placeholder="Training Costs" value="{{ training.training_cost }}">
                                    </div>
    
                                    <div class="space-y-2">
                                        <label class="ti-form-label">Performance</label>
                                        <select id="performance" name="performance"
                                            class="px-3 py-2 mt-3 ti-form-input border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-0">
                                            <option {% if training.performance == "not concluded" %} selected {% else %} '' {% endif %} value="not concluded">not concluded</option>
                                            <option {% if training.performance == "satisfactory" %} selected {% else %} '' {% endif %} value="satisfactory">satisfactory</option>
                                            <option {% if training.performance == "average" %} selected {% else %} '' {% endif %} value="average">average</option>
                                            <option {% if training.performance == "poor" %} selected {% else %} '' {% endif %} value="poor">poor</option>
                                            <option {% if training.performance == "excellent" %} selected {% else %} '' {% endif %} value="excellent">excellent</option>
                                        </select>
                                    </div>
                                    <div class="space-y-2">
                                        <label class="ti-form-label">Satus</label>
                                        <select id="status" name="status"
                                            class="px-3 py-2 mt-3 ti-form-input border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-0">
                                            <option {% if training.status == "Pending" %} selected {% else %} '' {% endif %} value="Pending">Pending</option>
                                            <option {% if training.status == "Started" %} selected {% else %} '' {% endif %} value="Started">Started</option>
                                            <option {% if training.status == "Completed" %} selected {% else %} '' {% endif %} value="Completed">Completed</option>
                                            <option {% if training.status == "Terminated" %} selected {% else %} '' {% endif %} value="Terminated">Terminated</option>
                                        </select>
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Start Date</label>
                                        <div class="flex rounded-sm shadow-sm">
                                            <div
                                                class="px-4 inline-flex items-center min-w-fit ltr:rounded-l-sm rtl:rounded-r-sm border ltr:border-r-0 rtl:border-l-0 border-gray-200 bg-gray-50 dark:bg-black/20 dark:border-white/10">
                                                <span class="text-sm text-gray-500 dark:text-white/70"><i
                                                        class="ri ri-calendar-line"></i></span>
                                            </div>
    
                                            <input type="text"
                                                class="ti-form-input ltr:rounded-l-none rtl:rounded-r-none focus:z-10 flatpickr-input"
                                                id="addignedDate" name="start_date" placeholder="Choose date and time"
                                                readonly="readonly" value="{{ training.start_date }}">
                                        </div>
                                    </div>
                                    <div class="space-y-2">
                                        <label for="input-label" class="ti-form-label">Finish Date</label>
                                        <div class="flex rounded-sm shadow-sm">
                                            <div
                                                class="px-4 inline-flex items-center min-w-fit ltr:rounded-l-sm rtl:rounded-r-sm border ltr:border-r-0 rtl:border-l-0 border-gray-200 bg-gray-50 dark:bg-black/20 dark:border-white/10">
                                                <span class="text-sm text-gray-500 dark:text-white/70"><i
                                                        class="ri ri-calendar-line"></i></span>
                                            </div>
    
                                            <input type="text"
                                                class="ti-form-input ltr:rounded-l-none rtl:rounded-r-none focus:z-10 flatpickr-input"
                                                id="targetDate" name="finish_date" placeholder="Choose date and time"
                                                readonly="readonly" value="{{ training.finish_date }}">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="flex justify-center w-full py-3">
                                    <div class="w-full md:w-8/12">
                                        <div class="mb-3">
                                            <label for="name"
                                                class="block text-sm mb-3 font-medium text-gray-700">Remarks</label>
                                            <textarea name="remarks" id="editor1" class="px-3 py-2 mt-3 ti-form-input"
                                                row="3">{{ training.remarks }}</textarea>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="flex justify-center w-full py-3">
                                    <div class="w-full md:w-8/12">
                                        <div class="mb-3">
                                            <label for="name"
                                                class="block text-sm mb-3 font-medium text-gray-700">Attachment</label>
                                            <input type="file" name="upload_file" id="" class="dropify px-3 py-2 mt-3 ti-form-input"
                                               data-default-file="{{ training.upload_file.url }}" >
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="ti-btn  bg-primary text-white hover:bg-primary  focus:ring-primary  dark:focus:ring-offset-white/10">
                                    Save
                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'admin/libs/dragula/dragula.min.js' %}"></script>
<script src="{% static 'admin/js/tasks.js' %}"></script>
{% endblock extra_scripts %}