    {% load static %}
    {% include 'dashboards/backoffice/header.html' %}
        <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
            <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
                <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">

                       <div class="d-flex flex-column flex-column-fluid">
            <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                <div class="d-flex flex-column flex-column-fluid"> 
<div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 " >
        <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
<div  class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
        Account Settings
            </h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                                    <li class="breadcrumb-item text-muted">
                                                    <a href="{% url 'index' %}" class="text-muted text-hover-primary">
                                Home                            </a>
                                            </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                                    <li class="breadcrumb-item text-muted">
                                                    Account                                            </li>

                    </ul>
    </div>
            <a href="{% url 'index' %}" class="btn btn-sm fw-bold btn-primary"  data-bs-toggle="modal" data-bs-target="#kt_m">
            Home page        </a>
</div>
        </div>
    </div>
    <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
          <div class="d-flex flex-wrap flex-sm-nowrap">
            <div class="me-7 mb-4">
              <div
                class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
              >
                <img
                  src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %} {% static 'dashboard/media/accounticon.png' %} {%endif%}"
                  alt="image"
                />
                <div
                  class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"
                ></div>
              </div>
            </div>
            <div class="flex-grow-1">
              <div
                class="d-flex justify-content-between align-items-start flex-wrap mb-2"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center mb-2">
                    <a
                      href="#"
                      class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
                      >{{ user.username}}</a
                    >
                    <a href="#"
                      ><i class="ki-duotone ki-verify fs-1 text-primary"
                        ><span class="path1"></span
                        ><span class="path2"></span></i
                    ></a>
                  </div>
                  <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2"
                    >
                      <i class="ki-duotone ki-profile-circle fs-4 me-1"
                        ><span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span
                      ></i>
                      {{ user.username }}
                    </a>
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2"
                    >
                      <i class="ki-duotone ki-geolocation fs-4 me-1"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                      {{ profile.country }}
                    </a>
                    <a
                      href="#"
                      class="d-flex align-items-center text-gray-400 text-hover-primary mb-2"
                    >
                      <i class="ki-duotone ki-sms fs-4 me-1"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                      {{ user.email }}
                    </a>
                  </div>
                </div>
              <div class="d-flex flex-wrap flex-stack">
                <div class="d-flex flex-column flex-grow-1 pe-8">
                  <div class="d-flex flex-wrap">
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-duotone ki-arrow-up fs-3 text-success me-2"
                          ><span class="path1"></span
                          ><span class="path2"></span
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="{{ registered_events }}"
                          data-kt-countup-prefix=""
                        >
                          {{ registered_events }}
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Earnings
                      </div>
                    </div>
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-duotone ki-arrow-down fs-3 text-danger me-2"
                          ><span class="path1"></span
                          ><span class="path2"></span
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="{{ missed_events }}"
                        >
                          {{ missed_events }}
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Miss
                      </div>
                    </div>
                    <div
                      class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="ki-duotone ki-arrow-up fs-3 text-success me-2"
                          ><span class="path1"></span
                          ><span class="path2"></span
                        ></i>
                        <div
                          class="fs-2 fw-bold"
                          data-kt-countup="true"
                          data-kt-countup-value="{{ success_rate }}"
                          data-kt-countup-prefix="%"
                        >
                          {{ success_rate }}%
                        </div>
                      </div>
                      <div class="fw-semibold fs-6 text-gray-400">
                        Success Rate
                      </div>
                    </div>
                  </div>
                </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
</div>  
<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
      <div class="card-title m-0">
          <h3 class="fw-bold m-0">Profile Details</h3>
      </div>
  </div>
  <div id="kt_account_settings_profile_details" class="collapse show">
      <form id="kt_account_profile_details_form" class="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body border-top p-9">
              <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-semibold fs-6">Avatar</label>   
                  <div class="col-lg-8">
                      <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('../assets/media/svg/avatars/blank.svg')">
                          <div class="image-input-wrapper w-125px h-125px" style="background-image: url({{ user.profile_image.url }})"></div>
                          <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                              <i class="ki-duotone ki-pencil fs-7"><span class="path1"></span><span class="path2"></span></i>
                              <input type="file" name="avatar" accept=".png, .jpg, .jpeg"/>
                              <input type="hidden" name="avatar_remove"/>
                          </label>
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                              <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                            </span>
                          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                              <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                            </span>
                      </div>
                      <div class="form-text">Allowed file types:  png, jpg, jpeg.</div>
                  </div>
              </div>
              <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-semibold fs-6">Full Name</label>
                  <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-6 fv-row">
                              <input type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="{{ user.first_name }}" />
                          </div>
                          <div class="col-lg-6 fv-row">
                              <input type="text" name="lname" class="form-control form-control-lg form-control-solid" placeholder="Last name" value="{{ user.last_name }}" />
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mb-6">
                  <label class="col-lg-4 col-form-label required fw-semibold fs-6">Company</label>
                  <div class="col-lg-8 fv-row">
                      <input type="text" name="company" class="form-control form-control-lg form-control-solid" placeholder="Company name" value="{{ profile.company }}" />
                  </div>
              </div>
              <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-semibold fs-6">
                      <span class="required">Contact Phone</span>
                      <span class="ms-1"  data-bs-toggle="tooltip" title="Phone number must be active" >
                          <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                      </span>
                  </label>
                  <div class="col-lg-8 fv-row">
                      <input type="tel" name="phone" class="form-control form-control-lg form-control-solid" placeholder="Phone number(+255)" value="{{ profile.phone }}" />
                  </div>
              </div>
              <div class="row mb-6">
                  <label class="col-lg-4 col-form-label fw-semibold fs-6">
                      <span class="required">Country</span>
                      <span class="ms-1"  data-bs-toggle="tooltip" title="Country of origination" >
                          <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                      </span>
                  </label>
                  <div class="col-lg-8 fv-row">
                      <select name="country" aria-label="Select a Country" data-control="select2" data-placeholder="Select a country..." class="form-select form-select-solid form-select-lg fw-semibold">
                          <option value="">Select a Country...</option>
                          <option value="Tanzania" {% if profile.country == "Tanzania" %}selected{% endif %}>Tanzania</option>
                          <option value="Kenya" {% if profile.country == "Kenya" %}selected{% endif %}>Kenya</option>
                          <option value="Uganda" {% if profile.country == "Uganda"%}selected{% endif %}>Uganda</option>
                       
                      </select>
                  </div>
              </div>
              <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Sector of Interest</label>
                <div class="col-lg-8 fv-row">
                    <select id="sector_of_interest" name="area_of_interest" aria-label="Select an Area of Interest" data-control="select2" data-placeholder="Select an area of interest..." class="form-select form-select-solid form-select-lg" multiple>
                        <option value="Agriculture" {% if 'Agriculture' in profile.area_of_interest %}selected{% endif %}>Agriculture</option>
                        <option value="Comercialbuilding" {% if 'Comercialbuilding' in profile.area_of_interest %}selected{% endif %}>Comercial building</option>
                        <option value="Construction" {% if 'Construction' in profile.area_of_interest %}selected{% endif %}>Construction</option>
                        <option value="Energy" {% if 'Energy' in profile.area_of_interest %}selected{% endif %}>Energy</option>
                        <option value="Economic Infastructure" {% if 'Economic Infastructure' in profile.area_of_interest %}selected{% endif %}>Economic Infastructure</option>
                        <option value="Finance" {% if 'Finance' in profile.area_of_interest %}selected{% endif %}>Finance</option>
                        <option value="Human Resource" {% if 'Human Resource' in profile.area_of_interest %}selected{% endif %}>Human Resource</option>
                        <option value="Manufacturing" {% if 'Manufacturing' in profile.area_of_interest %}selected{% endif %}>Manufacturing</option>
                        <option value="Minning" {% if 'Minning' in profile.area_of_interest %}selected{% endif %}>Minning</option>
                        <option value="Services" {% if 'Services' in profile.area_of_interest %}selected{% endif %}>Services</option>
                        <option value="Telecommunication" {% if 'Telecommunication' in profile.area_of_interest %}selected{% endif %}>Telecommunication</option>
                        <option value="Tourism" {% if 'Tourism' in profile.area_of_interest %}selected{% endif %}>Tourism</option>
                        <option value="Transport" {% if 'Transport' in profile.area_of_interest %}selected{% endif %}>Transport</option>
                    </select>
                </div>
            </div>

            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-semibold fs-6">Subsector of Interest</label>
                <div class="col-lg-8 fv-row">
                    <select id="subsector_of_interest" name="subsector_of_interest" class="form-select form-select-solid form-select-lg" multiple>
                        <!-- Subsector options will be populated dynamically -->
                    </select>
                </div>
            </div>

    <!--         <div class="row mb-0">
                  <label class="col-lg-4 col-form-label fw-semibold fs-6">Subsector</label>
                  <div class="col-lg-8 d-flex align-items-center">
                      <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                          <input class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" name="allow_marketing" {% if profile.allow_marketing %}checked{% endif %}/>
                          <label class="form-check-label" for="allowmarketing"></label>
                      </div>
                  </div>
              </div>  --> 
          </div>    
          <div class="card-footer d-flex justify-content-end py-6 px-9">
              <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
              <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
          </div>
      </form>
  </div>
</div>

<script>
  const subsectors = {
      "Agriculture": [
          "Agro Processing", "Agro-forestry", "Animal Feeds", "Animal husbandry and Meat Processing",
          "Animal Husbandry, Poultry and Meat Procesing", "Beekeeping and Honey processing", "Cage Fish Farming",
          "Coffee Farming", "Conservation (Forestry )", "Crop Farming", "Crops Seed Farming",
          "CRUSTACEAN,  [ LOBSTERS (Panulirus Ornatos), CRABS (Scylla Serrata] AND SEA CUCUMBER (holothuridea) FARMING",
          "Fish farming", "Forestry (Conservation)", "Horticulture", "Livestock", "Livestock and crop farming",
          "Livestock Keeping", "Mixed crop Farming", "Mixed Farming", "Poultry and Fish farming", "Poultry farming",
          "Sugarcane plantation and sugar production"
      ],
      "Comercialbuilding": [
          "Aviation bulky fuel tanks storage facilities for JET A1", "BULK STORAGE FACILITIES", "BULK STORAGE FECILITIES",
          "Commercial complex", "Compressed Natural Gas  Stations and Petroleum Storage Facilities",
          "Compressed Natural Gas  Stations and Prand Petroleum Storage Facilities", "Compressed Natural Gas (CNG) stations",
          "Fuel Bulk Storage Facilities", "Integrated warehousing", "Integrated warehousing and logistic",
          "Liquid storage facilities", "LPG", "LPG Storage Facilities", "Office apartment/show room",
          "OIL, PETROCHEMICAL AND LPG STORAGE FACILITIES", "Petroleum storage facilities", "Real Estate  for Lease and Sale",
          "Real estate development", "Real Estate Serviced apartments", "Sports club, facilities, academy and hospitality",
          "Supermarket", "Warehouse/Cold room storage", "Warehouses/industrial park", "Warehousing",
          "Warehousing and Cold Storage"
      ],
      "Construction": [
          "Building and Construction", "Building and Construction Materials", "Building and Construction Materials and Equipment",
          "Building and Construction Materials and Equipment Supply", "Building and Construction Materials Supply",
          "Building and Construction Materials Supply and Equipment", "Building and Construction Materials Supply and Equipment",  
      ],
      "Energy": [
          "Electricity Generation",
          "Electricity Generation and Distribution", "Electricity Generation and Distribution", "Electricity Generation and Distribution",
          "Electricity Generation and Distribution", "Electricity Generation and Distribution", "Electricity Generation and Distribution",
          "Electricity Generation and Distribution", "Electricity Generation and Distribution", "Electricity Generation and Distribution",  
      ],
      "Economic Infastructure": [
          "Airpot",
          "Industrial Park",
          "Poor infastructure"
      ]    
  };

  document.getElementById('sector_of_interest').addEventListener('change', function() {
      const selectedSectors = Array.from(this.selectedOptions).map(option => option.value);
      const subsectorSelect = document.getElementById('subsector_of_interest');
      subsectorSelect.innerHTML = '';

      selectedSectors.forEach(sector => {
          if (subsectors[sector]) {
              subsectors[sector].forEach(subsector => {
                  const option = document.createElement('option');
                  option.value = subsector;
                  option.textContent = subsector;
                  subsectorSelect.appendChild(option);
              });
          }
      });
  });

  // Trigger change event on page load to populate subsector options if a sector is already selected
  document.getElementById('sector_of_interest').dispatchEvent(new Event('change'));
</script>

{% include 'dashboards/backoffice/footer.html'%}
